.Container-Title-Experience {
    display: block;
    margin: 10px;
}

.Container-Card-Experience {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.Container-Card-Title-Experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 100%;
    font-size: 20px;
}

.Container-Card-Content-Experience {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin: 10px;
    height: 100%;
}

.Lista-Experience-Title-Experience {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    height: 100%
}

.Experience-fecha-Experience {
    font-weight: italic;
    font-size: small;
    background-color: grey;
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    color: aliceblue;
}

.Experience-empresa-Experience {
    font-weight: 600;
    font-size: medium;
    margin: 16px;
}

.Lista-Experience-Content-Experience {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    height: 100%;
}

.Experience-Tags-Experience {
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 16px;
}

.Experience-Tags-Item-Experience {
    display: inline;
    margin-right: 4px;
    background-color: rgb(143, 143, 5);
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    color: aliceblue;
}

.Experience-Tags-Tags{
    margin-right: 12px;
    margin-top: 8px;
}