.Container{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 5px solid rgb(200, 200, 0);
    margin-top: 50px;
}

.Container-Title{
    display: block;
    margin: 10px;
}

.Container-Card{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.Container-Card-Title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 100%;

}

.Container-Card-Title{
    font-size: 20px;
}

.Container-Card-Content{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin: 10px;
    height: 100%;
}


.Experience-fecha{
    font-weight: bold;
    background-color: grey;
    border-radius: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.Experience-empresa{
    font-weight: 600;
    margin-left: 16px;
}

.Lista-Experience-Content{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin: 10px;
    height: 100%;
}