
.Container-Title-Index{
    display: block;
    margin: 10px;
}

.Container-Card-Index{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.Container-Card-Title-Index{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 100%;

}

.Container-Card-Content-Index{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
    margin: 10px;
    height: 100%;
}