
.Container-Title-Contact{
    display: block;
    margin: 10px;
}

.Container-Card-Contact{
    display: flex;
    margin: 10px;
    justify-content: center;
}

.Container-Card-Content-Index{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Container-Card-Index{
    display: contents;
}
