.Container-Card-Skills {
    display: block;
    margin: 10px;
}

.Container-Card-Title-Skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 100%;
    font-size: 20px;
}

.Container-Card-Content-Skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
    padding: 24px;
}