#NavBarPage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: top;
    padding: 0 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    height: 60px;
}
Link{
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: inherit;
}
Link:hover{
    color: #c58e8e;
}
Link:visited{
    color: #000000;
}