.Container-Title-Education {
    display: block;
    margin: 10px;
}

.Container-Card-Education {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.Container-Card-Title-Education {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 100%;
    font-size: 20px;
}


.Container-Card-Content-Education {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin: 10px;
    height: 100%;
}

.Lista-Experience-Title-Education {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-right: 16px;
    margin-top: 12px;
}

.Experience-fecha-Education {
    font-weight: bold;
    background-color: grey;
    border-radius: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.Experience-empresa-Education {
    margin-left: 20px;
}

.Lista-Experience-Content-Education {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin: 10px;
    height: 100%;
}