#root{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #B2FFFF;
}

body{
    margin-top: 88px;
    padding: 0;
    background-color: #B2FFFF;
    margin-left: 0;
    margin-bottom: 140px;
}
@media screen and (max-width: 768px){
    body{
        margin-top: 43px;
        margin-bottom: 43px;
    }
    .PageNavBarMovil{
        display: block;
    }
    .PageNavBar{
        display: none;
    }
}
